
nav.navigation {

  height: 100%;
  margin: auto 20px auto 0;

  ul {
    height: 100%;
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    
    li {
      margin: 0;
      padding: 10px 20px;
      list-style-type: none;
      list-style-image: none;
      font-size: $font-menu-small;
      font-weight: 400;
      border-right: 1px solid $primary-color;
      
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        border: none;
      }
    }

    & li a {
      color: $primary-color;

      &:hover {
        text-decoration: none;
        color: $secondary-color;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    ul {
      li {
        font-size: $font-menu;
      }
    }
  }
}
