@import "../omega-style-vars", "../omega-default-style-vars";


#site-branding {

  position: relative;
  margin: 0;

  .site-logo {
    margin: 10px 0 10px 10px;
  }
  
  .site-name-slogan {
    padding-top: 0;
    display:none;
  }
  
  #logo {
    float: left;
    max-width: 90px;
    height: auto;
    
    a {
      display: block;
    }
    
    img {
      display: block;
    }
    
  }
  
  .site-name {
    font-size: 48px;
    //line-height: 36px;
    font-weight: bold;
    letter-spacing: -0.075em;
    font-family: $bodyFont;
    color: $siteTitleColor;
    
    a {
      @include omegaTransition(all, 0.25s, ease-in-out);
      //opacity: .5;
      text-decoration: none;
      color: $siteTitleColor;
      
      &:hover {
        //opacity: 1;
        color: $siteTitleHoverColor;  
      }
    }
  }
  
  .site-slogan {
    color: $siteSloganColor;
    font-variant: small-caps;
  }
}