/**
* Animal pet page for single pet 
*/

.page-title>span {
  display: none;
}

.ds-2col-stacked {

  width: 90%;
  max-width: $desktop;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  font-size: $font-small-p;
  
  & .group-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .title-name {
      color: $primary-color;
      font-size: $font-med-h2;
    }

    .vud-widget {
      height: 100%;
      margin: auto 0;
      display: flex;
      flex-direction: row;

      @media screen and (min-width: $mobile-standard) {
        padding-right: 20px;
      }

      .up-score, .down-score{
        height: 100%;
        padding: 0 10px;
      }

      .vote-current-score {
        display: none;
      }
    }
  }

  & .group-left {
    width: 100%;

    .animal-type-wrap {
      display: flex;
      flex-direction: row;
      color: $primary-color;
      font-size: $font-med-p;
      font-weight: 600;
      
      .animal-type {
        padding-left: 10px;
      }
    }
  }
  
  & .group-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    .animal-text-wrap {
      & .field-label-above {
        color: $primary-color;
        font-size: $font-med-p;  
        font-weight: 600;

      }
    }
  }
  
}

@media screen and (min-width: $mobile-standard){    
  .ds-2col-stacked {
    .group-left {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 10% repeat(3, 20%);
      
      .animal-image-wrap {
        grid-area: 1/1/span 4/span 1;
        padding-right: 15px;
        
        .animal-image {
          width: 100%;
          overflow: hidden;
          
          & img {
            width: 100%;
            height: 100%;
            max-width: 450px;
            max-height: 450px;
            object-fit: cover;            
          }

        }
      }
    }
  }
  
}