/**
* Single Article Page Basic Style
*/

.page-title {
  display: block;
  width: 90%;
  max-width: $desktop;
  margin: 30px auto 10px auto;
  text-align: center;
  font-size: $font-med-h2;

  @media screen and (min-width: $mobile-standard) {
    font-size: $font-large-h2;
    text-align: left;
  }
}

article {
  width: 90%;
  max-width: $desktopWide;
  margin: 0 auto;

  .article-page-image-wrap {
    width: 100%;
    margin-bottom: 15px;
    
    .article-page-image {
      width: 100%;
      text-align: center;
      & a { 
        width: 100%;
        margin: 0 auto;

        &img {
          height: 100%;
          min-height: 250px;
          object-fit: cover;
        }
      }
    }
  }

  .article-page-posted-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-weight: bold;

    .article-page-posted {
      padding: 0 10px;
    }
  }
  .article-page-body-wrap {
    margin-bottom: 20px;
  }
}

