/**
* Single Article Page Basic Style
*/

.page-title {
  display: block;
  width: 90%;
  max-width: $desktop;
  margin: 30px auto 30px auto;
  text-align: center;
  font-size: $font-med-h2;

  @media screen and (min-width: $mobile-standard) {
    font-size: $font-large-h2;
    text-align: left;
  }
}

article {
  width: 90%;
  max-width: $desktopWide;
  margin: 0 auto;

  .article-page-image-wrap {
    justify-self: center;
    margin-bottom: 20px;
  }
  .article-page-posted-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .article-page-posted {
      padding: 0 10px;
    }
  }
  .article-page-body-wrap {
    margin-bottom: 20px;
  }
}

