/**
* Single Article Page Basic Style
*/

//Hide the page title h1 tag default display of drupal template
.page-title {
  display: block;
  width: 90%;
  max-width: $desktop;
  margin: 20px auto 20px;
}

article {
  width: 90%;
  max-width: $desktopWide;
  margin: 0 auto;

  .article-page-image-wrap {
    justify-self: center;
    margin-bottom: 20px;
  }
  .article-page-posted-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .article-page-posted {
      padding: 0 10px;
    }
  }
  .article-page-body-wrap {
    margin-bottom: 20px;
  }
}

