
.blog-wrapper {
  width: 100%;
  height: auto;
  max-width: $desktopWide;
  max-height: 80vh;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;

  .left-div {
    & img {
      width: 100%;
      max-width: 768px;
    }
  }

  .right-div {
    height: 100%;
    line-height: 1.9em;

    .title-wrap {
      padding-left: 10px;
      .title-label {
        margin: 10px 0 0;
        color: $primary-color;
        font-size: $font-small-h2;
      }
      & p {
        color: $secondary-color;
        font-size: $font-small-p;
      }
    }

    //Latest BLog Post Contents. Small screen mobile view not display up to 375px wide.
    .blog-wrap {
      display: none;
    }

    .read-more-btn {
      max-width: 200px;
      display: block;
      background-image: linear-gradient($secondary-color, $primary-color);
      margin: 0 auto 20px;
      padding: 10px 30px;
      border-radius: 20px;
      //Btn Text styles
      color: $standard;
      text-decoration: none;
      text-align: center;
      font-size: $font-small-btn;

      &:hover {
        cursor: pointer;
        background-image: linear-gradient($primary-color,$secondary-color);
      }
    }
  }

}

@media screen and (min-width: $tablet) {
  .blog-wrapper {
    height: 50vh;
    min-height: 450px;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    .left-div {
      width: 50%;
      text-align: right;
      & img {
        width: 100%;
        height: 100%;
        max-height: 450px;
        object-fit: cover;
      }
    }
    .right-div {
      width: 50%;
      position: relative;

      .title-wrap {
        margin-top: 5%;

        .title-label {
          font-size: $font-large-h2;
        }  
      }   

      .blog-wrap {
        min-height: 40%;
        max-height: 50%;
        overflow-y: hidden;
        display: block;
        position: absolute;
        bottom: 25%;
        left: -30%;
        z-index: 5;
        padding: 0 10px;
        background-color: rgba($standard, 0.5);
        align-content: center;
        text-align: left;

        .blog-title {
          margin: 10px 0 0 0;
          font-size: $font-med-h3;
        }

      }

      .read-more-btn {
        position: absolute;
        bottom: 5%;
        left: 10%;
      }
    }
  }
}