$primary-color: #2b5170;
$primary-color2: #2B4B5A;
$secondary-color: #4682b4;
$secondary-color2: #a5a5a5;


//Text and Font styling
$standard: #ffffff;
$black-color: #000000ee;
$neon-color: #ff4800ea;