$regionSpacing: 0;
$blockMargins: 20px;

$mobile: 0px !default;
$mobile-standard: 375px !default;

$mobilePortrait: 320px !default;
$below_mobilePortrait: 319px !default;

$mobileLandscape: 480px !default;
$below_mobileLandscape: 479px !default;

$mobile-only: 767px !default;


$tablet: 768px !default;
$below_tablet: 767px !default; 
 
$desktop: 1024px !default; 
$below_desktop: 1023px !default;

$desktopWide: 1220px !default;
$below_desktopWide: 1219px !default;
