/**
* Animal List and grid views styles
*/

.pet-grid-view-col {
  padding: 5px;
}

.animal-teaser-title {
  font-size: 1em;
}

.read-more-btn {
  width: 100%;
  max-width: 150px;
  display: block;
  background-image: linear-gradient($secondary-color, $primary-color);
  margin: 0 auto 10px;
  padding: 5px 10px;
  //Btn Text styles
  color: $standard;
  text-decoration: none;
  text-align: center;
  font-size: 1em;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient($primary-color,$secondary-color);
  }
}


.view-display-id-our_pet_page {
  width: 90%;
  max-width: $desktopWide;
  margin: 20px auto;

  .view-filters {

    .form--inline {
      display: flex;
      flex-wrap: wrap;
      // flex-direction: row;
    }

    label {
      display: none;
    }

    select {
      width: 300px;
    }
  }


  // .view-content {
  //   width: 100%;
  //   .views-view-grid {
  //     width: 90%;
  //     .pet-grid-view-row {
  //       width: 100%;
  //       display: flex;
  //       flex-wrap: wrap;
  //       .pet-view-grid-col {
  //         width: 100%;


  //         .contextual-region div {
  //           width: 100%;
  //           & .animal-teaser-image-wrap {
  //             width: 100%;

  //             .animal-teaser-image {
  //               & a img {
  //                 width: 300px;

  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }

  // }
}


