/**
*Overrides for css with no class
*/

//Override front page content region titles
.contextual-region>h2 {
  margin: 0 auto;
  width: 90%;
  max-width: $desktopWide;
  text-align: center;
}

//overrides for front page Pet teaser 
.views-element-container {
  &>h2 {
    margin-bottom: 10px;
    font-size: $font-med-h2; 
  }
}

//Override back ground color for Blog teaser section
.views-element-container:nth-child(2n) {
  background-color: $primary-color2;
  color: $standard;

  & h2 {
    color: $standard;
  }

  @media screen and (min-width: $mobile-standard) {
    padding: 40px 0;

    &>h2 {
      font-size: $font-med-h2;
    }
  }
}

.views-element-container {
  margin: 0 auto;
  padding: 20px 0
}
